
/* Marquee Part  on Home Page*/
.card img {
    object-fit: cover;
    width: 100%;
    height: auto;
  }
  
  @media (max-width: 768px) {
    .card {
      min-width: 250px;
      max-width: 400px;
    }
  
    .card img {
      height: 200px;
    }
  }

  